<div class="footer">
    <div class="footer_cancion">
        <p> Mi vida ven a bailar</p>
        <span> Yamana </span>
    </div>

    <div class="footer_clasificacion">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>  
    <div class="footer_reproductor">
        <div class="video_player">
            <div class="video_player-barra">
            <p class="comienzo"> 01:50</p>
                <div class="barra">
                    <div class="circle"></div>
                </div>
                <p class="fin"> 03:00 </p>
            </div>
            <div class="video_player-icon">
                <i class="fa fa-play-circle" aria-hidden="true"></i> 
            </div>
            <i class="fa fa-repeat" aria-hidden="true"></i>
            <i class="fa fa-step-backward" aria-hidden="true"></i>
            <i class="fa fa-step-forward" aria-hidden="true"></i>
            <i class="fa fa-random" aria-hidden="true"></i>
        </div>

    </div>
        <div class="volumen">
            <i class="fa fa-volume-up" aria-hidden="true"></i> 
             <div class="barra_volume">
                 <div class="circle_volume"></div>
            </div>
         </div>
</div>
