<div class="toolbar" role="banner">
    <!-- logo -->
<div class="spacer"></div>
<div class="buscador_responsive">
    <i class="fa fa-search" aria-hidden="true"></i>
</div>
<div class="buscador">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input type="text">
    
</div>
<div class="user">
    <i class="fa fa-bell" aria-hidden="true"></i>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    <div class="user_notificaciones"></div>
</div>

<div class="side-panel">
    <h2>SpoilerFive</h2>
    <div class="side-panel_informacion">
        <h4><i class="fa fa-music" aria-hidden="true"></i>Mis Playlist</h4>
        <h4><i class="fa fa-star" aria-hidden="true"></i>Favoritos</h4>
        <div class="spacer"></div>
        <h4><i class="fa fa-play" aria-hidden="true"></i>Reproduciendo</h4>
        <ul>
            <li><a href="">Ver canción/Podcast</a></li>
            <li><a href="">Ver Artista/Autor</a></li>
            <li><a href="">Agregar a PlayList</a></li>
            <li><a href="">Agregar a Favoritos</a></li>
        </ul>        
    </div>
    <div class="side-panel_contacto">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <div>
            <a href="" >Contacto</a>
            <a href="" >Ayuda</a>
          </div>
    </div>

    <div class="side-panel_img">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </div>
</div>
</div>
