.infoSpoiler{
    width: 1920px;
    height: 540px;
    margin-top: 60px;
    display: flex;
}

.chica1{   
    width: 414px;
    height: 419px;
    margin-left: 284px;
    margin-top: 184px;
}

.chico{
    width: 354px;
    height: 369px;
    margin-left: 87px;
    margin-top: 160px;

}
.info{
    margin-top: 90px;
    margin-left: 297px;
    width: 370px;
    text-align: center;
    font-weight: bold;
}
