<!-- NavBar -->
<app-nav-bar></app-nav-bar>
<div class="infoSpoiler backceleste1 ">
    <div class="imagen_1">
        <img src="../../assets/img/svg-images/chico-escuchando.png" class="chico">
    </div>
    
    <div class="info">
        <h1>Spoiler Five Inc.</h1>
        <p>Spoiler Five es una aplicación, diseñada para brindarte la comodidad de escuchar tu música y podCast en el lugar, cuando y bajo el plan que desees. Estamos para vos en donde nos necesites soportamos multiples dispositivos, en multiples plataformas. Buscanos!</p>
    </div>
    <div class="imagen_2">
        <img src="../../assets/img/svg-images/chica-escuchando.png" class="chica1">
    </div>
   
   
  
</div>
<app-footer></app-footer>