app-nav-bar{
    width: 100%;
}


.infoSpoiler{
    width: 1920px;
    height: 540px;
    margin-top: 60px;
    display: flex;
}

.imagen_1{   
    width: 33%;
    height: 419px;
}

.chico{
    margin-left: 30%;
    margin-top: 26%;
    width:400px;
}
.chica1{
    margin-top: 30%;
    width:400px;
}

.imagen_2{
    width: 33%;
    height: 369px;

}
.info{
    margin-top: 5%;
    width: 33%;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 767px){
    app-nav-bar{
        width: 100%;
    }
    .infoSpoiler{
        display: none;
    }
}