app-nav-bar{
    width: 100%;
}


.infoSpoiler{
    width: 1920px;
    height: 400px;
    margin-top: 60px;
    display: flex;
}

.imagen_1{   
    width: 33%;
    height: 419px;
}

.chico{
    margin-left: 20%;
    margin-top: 4.5%;
    width:400px;
}
.chica1{
    margin-top: 8%;
    width:400px;
}

.imagen_2{
    width: 33%;
    height: 369px;

}
.info{
    margin-top: 8%;
    width: 33%;
    text-align: center;
    font-weight: bold;
}
.planes{
    width: 1920px;
    height: 500px;
}
.inicio{
    display: none;
}
@media screen and (max-width: 1400px){
    .infoSpoiler{
        width: 100%;
        height: 100%;
        margin-top: 60px;
        display: flex;
    }
    .planes{
        width:100%;
        height: 500px;
    }
    .chico{
        margin-left: 20%;
        margin-top: 6%;
        width:400px;
    }
    .chica1{
        margin-top: 11%;
        width:400px;
    }
    .imagen_1{   
        width: 33%;
        height: 400px;
    }
    .imagen_2{
        width: 33%;
        height: 369px;
    }
}
@media screen and (max-width: 767px){
    app-nav-bar{
        width: 100%;
    }
    .infoSpoiler,.planes,.nav{
        display: none;
    }
    .inicio{
        display: block;
        background-color: black;
        color: white;
        height: 560px;
    }
    
}