.logo{
    width: 175px;
    margin-top: 30px;
    margin-left: 85px;
}

p{
    text-align: center;
}
.botonera{
    margin-left: 40px;
    display: inline-grid;
}
.boton{
    font-size: 26px;
    color: white;
    margin-top: 20px;
    width: 260px;
    height: 50px;
    border-radius: 50px;
}
.premium{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: underline;
}
hr{
    width: 360px;
    margin-top: 60px;
}