
<img  class="logo"
  
  alt="Angular Logo"
  src="../../assets/img/svg-images/logo with label.svg"
/>
<p>Tus PlayList y PodCast en un solo lugar</p>
<div class="botonera">
    <input  [routerLink]="[ '/iniciar-sesion' ]" type="button" class="boton backverde" value="Iniciar Sesion">
    <input [routerLink]="[ '/registrarse' ]" type="button" class="boton backverde" value="Registrarse">
</div>
<p>¿Primera vez en Spoiler Five?</p>

<a class="colorverde premium" href="/home-nolog">Disfruta ser PREMIUM por 7 días</a>

<hr class="backverde">